# Jellyfin Configuration
JELLYFIN_URL=http://localhost:8096
JELLYFIN_USERNAME=your_jellyfin_username
JELLYFIN_API_KEY=your_jellyfin_api_key

JWT_SECRET=your_jwt_secret_key
TOKEN_EXPIRY_MINUTES=1440
TOKEN_USAGE_LIMIT=3

SONG_DOWNLOAD_DIR=/data/songs
TOKEN_USAGE_DATA_FILE=/data/tokens.json
REQUESTED_SONGS_DATA_FILE=/data/requested-songs.json

# Basic Auth Configuration
AUTH_USERNAME=admin
AUTH_PASSWORD=some-secure-password-123-2i4hojnadolfgh

# Application Configuration
PORT=3000
NODE_ENV=development
